In [1]:
# Question 1

# Initially a is initiallized as 0
a = 0

# fuction b is created
def b():
    global a
    a = c(a)

# function c is created
def c(a):
    return a + 2

b()
# variable 'a' is taken and passed it to function c where, 2 is added and value of 'a' becomes 2

b()
# variable 'a' is taken and passed it to function c where, 2 is added again and value of 'a' becomes 4

b()
# variable 'a' is taken and passed it to function c where, 2 is added again and value of 'a' becomes 6

a
# value of 'a' is printed which is 6.

6

In [21]:
# Question 2

import os

def fileLength(file):
    print(os.path.getsize(file))
    
fileLength("part2.txt")

25

In [22]:
# Question 3

class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

['doll', 'firetruck', 'kitten']

In [26]:
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [27]:
# Question 4

def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3*x + 1)

collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

In [1]:
# Question 5

def binary(n):
    if n == 0:
        return 0
    binary(n // 2)
    print(n % 2, end='')

In [2]:
binary(0)

0

In [3]:
binary(1)

1

In [4]:
binary(3)

11

In [5]:
binary(9)

1001

In [64]:
# Question 6

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []

    def handle_starttag(self, tag, attribute):
        if tag.startswith('h'):
            self.headings.append(tag)

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            heading = self.headings.pop()
            if(heading == 'h1'):
                print(heading)
            elif(heading == 'h2'):
                print(" "+ heading)
            elif(heading == 'h3'):
                print("  " + heading)
            elif(heading == 'h4'):
                print("   " + heading)
            elif(heading == 'h5'):
                print("    " + heading)
            elif(heading == 'h6'):
                print("     " + heading)    



if __name__ == '__main__':
    with open('w3c.html') as f:
        parser = HeadingParser()
        parser.feed(f.read())

h1
 h2

In [26]:
# Question 8

import sqlite3
connect = sqlite3.connect('datapart2')
c = connect.cursor()

data = (    
    ['Mumbai', 'India', 'Winter', 24.8, 5.9],
    ['Mumbai', 'India', 'Spring', 28.4, 16.2],
    ['Mumbai', 'India', 'Summer', 27.9, 1549.4],
    ['Mumbai', 'India', 'Fall', 27.6, 346.0],
    ['London', 'United Kingdom', 'Winter', 4.2, 207.7],
    ['London', 'United Kingdom', 'Spring', 8.3, 169.6],
    ['London', 'United Kingdom', 'Summer', 15.7, 157.0],
    ['London', 'United Kingdom', 'Fall', 10.4, 218.5],
    ['Cairo', 'Egypt', 'Winter', 13.6, 16.5],
    ['Cairo', 'Egypt', 'Spring', 20.7, 6.5],
    ['Cairo', 'Egypt', 'Summer', 27.7, 0.1],
    ['Cairo', 'Egypt', 'Fall', 22.2, 4.5]
)

c.execute('''CREATE TABLE data (City TEXT, Country TEXT, Season TEXT, Temperature TEXT, Rainfall TEXT)''')

query = "INSERT INTO data (City, Country, Season, Temperature, Rainfall) VALUES (?, ?, ?, ?, ?)"
c.executemany(query, data)
connect.commit()

OperationalError: table data already exists

In [28]:
# Printing All the inserted data
c.execute("SELECT * from data")
rows = c.fetchall()
for row in rows:
    print(row)

('Mumbai', 'India', 'Winter', '24.8', '5.9')
('Mumbai', 'India', 'Spring', '28.4', '16.2')
('Mumbai', 'India', 'Summer', '27.9', '1549.4')
('Mumbai', 'India', 'Fall', '27.6', '346.0')
('London', 'United Kingdom', 'Winter', '4.2', '207.7')
('London', 'United Kingdom', 'Spring', '8.3', '169.6')
('London', 'United Kingdom', 'Summer', '15.7', '157.0')
('London', 'United Kingdom', 'Fall', '10.4', '218.5')
('Cairo', 'Egypt', 'Winter', '13.6', '16.5')
('Cairo', 'Egypt', 'Spring', '20.7', '6.5')
('Cairo', 'Egypt', 'Summer', '27.7', '0.1')
('Cairo', 'Egypt', 'Fall', '22.2', '4.5')

In [44]:
# Question 8 (A to H)

print(c.execute("SELECT temperature FROM data").fetchall(), "\n")

print(c.execute("SELECT DISTINCT City FROM data").fetchall(), "\n")

print(c.execute("SELECT * FROM data WHERE Country='India'").fetchall(), "\n")

print(c.execute("SELECT * FROM data WHERE Season='Fall'").fetchall(), "\n")

print(c.execute("SELECT City, Country, Season FROM data GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400").fetchall(), "\n")

print(c.execute("SELECT City, Country FROM data WHERE Season='Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(temperature) ASC").fetchall(), "\n")

print(c.execute("SELECT SUM(Rainfall) FROM data WHERE City='Cairo'").fetchall(), "\n")

print(c.execute("SELECT Season, SUM(Rainfall) FROM data GROUP BY Season").fetchall(), "\n")

[('24.8',), ('28.4',), ('27.9',), ('27.6',), ('4.2',), ('8.3',), ('15.7',), ('10.4',), ('13.6',), ('20.7',), ('27.7',), ('22.2',)]

[('Mumbai',), ('London',), ('Cairo',)]

[('Mumbai', 'India', 'Winter', '24.8', '5.9'), ('Mumbai', 'India', 'Spring', '28.4', '16.2'), ('Mumbai', 'India', 'Summer', '27.9', '1549.4'), ('Mumbai', 'India', 'Fall', '27.6', '346.0')]

[('Mumbai', 'India', 'Fall', '27.6', '346.0'), ('London', 'United Kingdom', 'Fall', '10.4', '218.5'), ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

[(27.6,)]

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
capitalLetters = [''] * len(words)
smallLetters = [''] * len(words)
count = [0] * len(words)
capitalSmallCount = []
fourLetters = []

for i, word in enumerate(words):
    capitalLetters[i] = word.upper()
print(capitalLetters)


for i, word in enumerate(words):
    smallLetters[i] = word.lower()
print(smallLetters)


for i, word in enumerate(words):
    count[i] = len(word)
print(count)


for i, word in enumerate(words):
    capitalSmallCount.append([capitalLetters[i], smallLetters[i], count[i]])
print(capitalSmallCount)


for i, word in enumerate(words):
    if(len(word)>= 4):
        fourLetters.append(word)
print(fourLetters)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']